<section class="h-[85vh]">
  <h2 class="text-2xl mb-8">Carrito de compras</h2>
  <div>
    {{#each products}}
      <div
        class="card card-side border border-primary-color mx-auto flex rounded-md px-2 w-11/12 lg:w-4/5 max-w-[850px] mb-6"
      >
        <div class="basis-3/12 rounded-md flex items-center py-2">
          <img
            src={{this.product.thumbnails}}
            alt={{this.product.title}}
            class="rounded-md max-h-60"
          />
        </div>
        <div class="card-body basis-9/12 gap-4 mx-auto max-w-[550px]">
          {{! <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button> }}
          <h2 class="card-title mx-auto">{{this.product.title}}</h2>
          <h4>{{this.product.author}}</h4>
          <h4>${{this.product.price}}</h4>
        </div>
      </div>
    {{/each}}
  </div>

  <div>
    {{#if hasPrevPage}}
      <a href="{{prevLink}}">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
      <a href="{{nextLink}}">Siguiente</a>
    {{/if}}
  </div>
</section>